<link rel="stylesheet" href="https://www.fedex.com/etc/clientlibs/fedex/page/homepage.min.css" />
<header class="fxg-header fxg-header--sticky">
        
  <!--  The content will be appneded by js file if there will be new ALERT -->
<!-- <fedex-alert></fedex-alert> -->
  <!--  <sly data-sly-test="" data-sly-resource=""/>  -->
  
<div class="cq-dd-paragraph"><div class="global_navigation"><!-- GLOBAL NAV START -->

<nav class="fxg-nav">
<div class="fxg-wrapper">
  <a class="fxg-header__logo_wrapper" href="https://www.fedex.com/en-us/home.html" target="_self" data-analytics="hdr|Logo" onclick="FDX.DTM.pushLinkInfo(this)">
      <img src="https://www.fedex.com/content/dam/fedex-com/logos/logo.png" class="fxg-header__logo" alt="FedEx Logo">
  </a>
  <ul class="fxg-dropdown fxg-global-nav">
      <div class="dropdown section"><!-- DROPDOWN START -->

<li class="fxg-dropdown__item    ">
  <a href="#" aria-label="Open Shipping Menu" class="fxg-link fxg-dropdown-js " data-analytics="hdr|tab|1|Shipping" onclick="FDX.DTM.pushLinkInfo(this)" target="_self">
      Shipping
  </a>
  <div class="fxg-dropdown__sub-menu">
      <div class="link section">
<div class="link">
  <a href="https://www.fedex.com/cgi-bin/ship_it/interNetShip?origincountry=us&amp;locallang=us&amp;urlparams=us" target="_self" class="fxg-link default        " data-analytics="link|Create a Shipment" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Create a Shipment</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/ratefinder/home?cc=US&amp;language=en&amp;locId=express" target="_self" class="fxg-link default       fxg-mobile--hide " data-analytics="link|Shipping Rates &amp; Delivery Times" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Shipping Rates &amp; Delivery Times</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/apps/shipping-rates" target="_self" class="fxg-link default     fxg-desktop--hide fxg-tablet--hide  " data-analytics="link|Shipping Rates &amp; Delivery Times" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Shipping Rates &amp; Delivery Times</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/shipping/schedule-manage-pickups.html" target="_self" class="fxg-link default        " data-analytics="link|Schedule &amp; Manage Pickups" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Schedule &amp; Manage Pickups</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/shipping/packing-supplies.html" target="_self" class="fxg-link default        " data-analytics="link|Packing &amp; Shipping Supplies" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Packing &amp; Shipping Supplies</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/shipping/international-shipping-guide.html" target="_self" class="fxg-link default        " data-analytics="link|International Shipping Guide" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">International Shipping Guide</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/shipping/store/shipping-services.html" target="_self" class="fxg-link default        " data-analytics="link|In-Store Shipping Services" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">In-Store Shipping Services</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/shipping.html" target="_self" class="fxg-link fxg-link--blue        " data-analytics="link|ALL SHIPPING SERVICES" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">ALL SHIPPING SERVICES</a>
  
</div>
</div>


  </div>
</li>

<!-- DROPDOWN END --></div>
<div class="dropdown section"><!-- DROPDOWN START -->

<li class="fxg-dropdown__item    ">
  <a href="#" aria-label="Open Tracking Menu" class="fxg-link fxg-dropdown-js " data-analytics="hdr|tab|2|Tracking" onclick="FDX.DTM.pushLinkInfo(this)" target="_self">
      Tracking
  </a>
  <div class="fxg-dropdown__sub-menu">
      <div class="tracking_module section">
<div class="fxg-tracking-module">
  <form method="POST" action="#" class="fxg-form" id="HeaderTrackingModule">
      <div class="fxg-field">
          <label for="trackingModuleTrackingNum" style="display:none;">Tracking ID</label>
          <input id="trackingModuleTrackingNum" type="text" class="fxg-field__input-text fxg-field__input--required" name="trackingNumber" required="" title="Enter a FedEx tracking number to review shipping details." aria-required="true" data-errmsg="Please enter at least one tracking number.">
          <input type="hidden" id="dataAnalyticsTrackModule" value="hdr|2|track">
          <span class="fxg-field__placeholder fxg-field__floating-placeholder">Tracking ID</span>
      </div>
      <button type="submit" aria-label="Click here to track your package" class="fxg-button fxg-button--orange" data-analytics="hdr|2|track" target="_blank">TRACK</button>
  </form>
</div>
</div>
<div class="link section">
<div class="link">
  <a href="http://www.fedex.com/us/fedextracking/" target="_self" class="fxg-link default        " data-analytics="link|Advanced Shipment Tracking" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Advanced Shipment Tracking</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/apps/fdmenrollment/" target="_self" class="fxg-link default        " data-analytics="link|Manage Your Delivery" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Manage Your Delivery</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/tracking.html" target="_self" class="fxg-link fxg-link--blue        " data-analytics="link|All Tracking Services" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">ALL TRACKING SERVICES</a>
  
</div>
</div>


  </div>
</li>

<!-- DROPDOWN END --></div>
<div class="dropdown section"><!-- DROPDOWN START -->

<li class="fxg-dropdown__item    ">
  <a href="#" aria-label="Open Printing Services Menu" class="fxg-link fxg-dropdown-js " data-analytics="hdr|tab|3|Printing Services" onclick="FDX.DTM.pushLinkInfo(this)" target="_self">
      Printing Services
  </a>
  <div class="fxg-dropdown__sub-menu">
      <div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/printing/online-printing.html" target="_self" class="fxg-link default        " data-analytics="link|Start Online Printing Order" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Start Online Printing Order</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/printing/poster-sign-banner-printing.html" target="_self" class="fxg-link default        " data-analytics="link|Posters, Signs &amp; Banners" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Posters, Signs &amp; Banners</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/printing/presentations-and-manuals.html" target="_self" class="fxg-link default        " data-analytics="link|Presentations &amp; Manuals" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Presentations &amp; Manuals</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/printing/marketing-materials.html" target="_self" class="fxg-link default        " data-analytics="link|Marketing Materials" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Marketing Materials</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/printing/custom-solutions.html" target="_self" class="fxg-link default        " data-analytics="link|Ideas &amp; Custom Solutions" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Ideas &amp; Custom Solutions</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/coupon-offers.html" target="_self" class="fxg-link default        " data-analytics="link|Get Coupons &amp; Deals" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Get Coupons &amp; Deals</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/printing.html" target="_self" class="fxg-link fxg-link--blue        " data-analytics="link|All Printing Services" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">ALL PRINTING SERVICES</a>
  
</div>
</div>


  </div>
</li>

<!-- DROPDOWN END --></div>
<div class="dropdown section"><!-- DROPDOWN START -->

<li class="fxg-dropdown__item    ">
  <a href="#" aria-label="Open Locations Menu" class="fxg-link fxg-dropdown-js " data-analytics="hdr|tab|4|Locations" onclick="FDX.DTM.pushLinkInfo(this)" target="_self">
      Locations
  </a>
  <div class="fxg-dropdown__sub-menu">
      <div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/shipping/store/all-location-types.html" target="_self" class="fxg-link default        " data-analytics="link|All Location Types" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">All Location Types</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="http://www.fedex.com/locate/index.html?locale=en_US#" target="_self" class="fxg-link fxg-link--blue        " data-analytics="link|Find a Location" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Find a Location</a>
  
</div>
</div>


  </div>
</li>

<!-- DROPDOWN END --></div>
<div class="dropdown section"><!-- DROPDOWN START -->

<li class="fxg-dropdown__item    ">
  <a href="#" aria-label="Open Customer Support Menu" class="fxg-link fxg-dropdown-js " data-analytics="hdr|tab|5|Support" onclick="FDX.DTM.pushLinkInfo(this)" target="_self">
      Support
  </a>
  <div class="fxg-dropdown__sub-menu">
      <div class="link section">
<div class="link">
  <a href="https://getstarted.van.fedex.com/" target="_self" class="fxg-link default        " data-analytics="link|New Customer Center" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">New Customer Center</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://smallbusiness.fedex.com/home.html" target="_self" class="fxg-link default        " data-analytics="link|Small Business Center" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Small Business Center</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/service-guide.html" target="_self" class="fxg-link default        " data-analytics="link|Shipping Service Guide" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">FedEx Service Guide</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/create-account/account-management.html" target="_self" class="fxg-link default        " data-analytics="link|Account Management Tools" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Account Management Tools</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/customer-support/claims.html" target="_self" class="fxg-link default        " data-analytics="link|File a Claim" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">File a Claim</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/billing-online.html" target="_self" class="fxg-link default        " data-analytics="link|View and Pay Bill" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">View &amp; Pay Bill</a>
  
</div>
</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/customer-support.html" target="_self" class="fxg-link fxg-link--blue        " data-analytics="link|Contact Customer Support" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Customer Support</a>
  
</div>
</div>


  </div>
</li>

<!-- DROPDOWN END --></div>


  </ul>

  
      <!-- UTILITY NAV START -->

<div class="fxg-user-options">
  <div class="fxg-user-options__option fxg-user-options__sign-in    " id="global-login-wrapper">
      <a href="#" class="fxg-link fxg-dropdown-js" data-default-signintext="Sign Up or Log In"><span class="fxg-user-options__sign-in-text">Sign Up or Log In </span><img class="fxg-user-options__icon" alt="Sign Up or Log In" src="https://www.fedex.com/content/dam/fedex-com/common/sprite-placeholder.png"></a>
      <div class="fxg-dropdown__sub-menu utility-nav-dropdown__sub-menu" data-util-nav-jcr-path="/content/fedex-com/component-library/global-navigation/us/en_us/jcr:content/par/global_navigation/utility_navigation">
          
              
<div class="fxg-login-module">
  <form method="POST" action="#" id="HeaderLogin" class="fxg-form">
      <div class="fxg-field">
      <label for="NavLoginUserId" style="display:none;">USER ID</label>
          <input id="NavLoginUserId" type="text" class="fxg-field__input-text fxg-field__input--required" name="user" required="" title="USER ID" aria-required="true">
          <span class="fxg-field__placeholder fxg-field__floating-placeholder">USER ID</span>
      </div>
      <div class="fxg-field">
          <label for="NavLoginPassword" style="display:none;">PASSWORD</label>
          <input id="NavLoginPassword" autocomplete="off" type="password" class="fxg-field__input-text fxg-field__input--required" name="pwd" required="" title="PASSWORD" aria-required="true">
          <div id="NavLoginPassword_show" class="fxg-field-password__show-hide" tabindex="0">SHOW</div>
          <span class="fxg-field__placeholder fxg-field__floating-placeholder">PASSWORD</span>
      </div>
      <div class="fxg-field">
          <input type="checkbox" name="rememberme" id="NavLoginRememberMe" class="fxg-field__input-checkbox" value="rememberme">
          <label for="NavLoginRememberMe">Remember Me</label>
      </div>
      <input type="hidden" name="url" value="#">
      <button type="submit" class="fxg-button fxg-button--orange">LOGIN</button>
  </form>
  <div class="link section">
<div class="link">
  <a href="https://www.fedex.com/fcl/web/jsp/forgotPassword.jsp?appName=fclfsm&amp;locale=us_en&amp;step3URL=https%3A%2F%2Fwww.fedex.com%2Fshipping%2FshipEntryAction.do%3Fmethod%3DdoRegistration%26link%3D1%26locale%3Den_US%26urlparams%3Dus%26sType%3DF&amp;returnurl=https%3A%2F%2Fwww.fedex.com%2Fshipping%2FshipEntryAction.do%3Fmethod%3DdoEntry%26link%3D1%26locale%3Den_US%26urlparams%3Dus%26sType%3DF&amp;programIndicator=0" target="_self" class="fxg-link fxg-link--blue        " data-analytics="link|Forgot Password or User ID" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">FORGOT PASSWORD OR USER ID?</a>
  
</div>
</div>
<div class="hr section"><hr></div>
<div class="richtext parbase section">


<link rel="stylesheet" href="https://www.fedex.com/etc/clientlibs/fedex/components/richtext.min.978e35a110ef7bef503fb55b6479d94d.css" type="text/css">



<!-- CHANGE: VMLNAFEDEXW-356 Added expressions to deal with Viewport Settings -->

<input id="justifyRteRtl" type="hidden" value="false">


<div class="fxg-rte" data-emptytext="Rich Text">Get exclusive benefits when you open a FedEx account.</div>

</div>
<div class="link section">
<div class="link">
  <a href="https://www.fedex.com/en-us/create-account.html" target="_self" class="fxg-link fxg-link--blue        " data-analytics="link|Create Account" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">CREATE ACCOUNT</a>
  
</div>
</div>


</div>

          
          
      </div>
  </div>
  <div class="fxg-user-options__option fxg-user-options__search-btn   ">
      <a href="#"><img class="fxg-user-options__icon" alt="Search" src="https://www.fedex.com/content/dam/fedex-com/common/sprite-placeholder.png"></a>
  </div>
  <button id="fxg-mobile-menu-btn" class="hamburger hamburger--slider fxg-user-options__menu-btn" type="button">
      <span class="hamburger-box">
          <span class="hamburger-inner">Menu</span>
      </span>
  </button>
</div>
<div class="fxg-search   ">
  <div class="fxg-user-options__option fxg-user-options__search">
  <form class="fxg-form" method="POST" action="#" id="fxg-search-header">
      <img class="fxg-user-options__icon fxg-search-btn" alt="Search" src="https://www.fedex.com/content/dam/fedex-com/common/sprite-placeholder.png">
      <input type="text" id="fxg-search-text" class="fxg-user-options__search-field fxg-search-js search_closeMark" placeholder="Search or Tracking Numbers" title="Search or Tracking Numbers">
      <a href="#" class="fxg-search-close-btn" aria-label="Exit Search "><img class="fxg-user-options__icon fxg-close-btn" alt="Exit Search " src="https://www.fedex.com/content/dam/fedex-com/common/sprite-placeholder.png"></a>
  </form>
  </div>
  <div class="fxg-user-options__search-results fxg-search-results">
      <div class="fxg-search-results__row fxg-search-results__title"><span>Top Searched </span></div>
      
          <a href="https://getrewards.fedex.com/" target="_self" data-analytics="TopSearched|Rewards" class="fxg-search-results__row   ">Rewards</a>
      
          <a href="https://www.fedex.com/us/fcl/pckgenvlp/insight/" target="_self" data-analytics="TopSearched|Insight" class="fxg-search-results__row   ">Insight</a>
      
          <a href="https://www.fedex.com/en-us/customer-support/claims.html" target="_self" data-analytics="TopSearched|Claims" class="fxg-search-results__row   ">Claims</a>
      
          <a href="https://www.fedex.com/en-us/quick-help/sm_history.html" target="_self" data-analytics="TopSearched|Shipping History" class="fxg-search-results__row   ">Shipping History</a>
      
          <a href="https://www.fedex.com/en-us/billing-online.html" target="_self" data-analytics="TopSearched|Billing" class="fxg-search-results__row   ">Billing</a>
      

  </div>
</div>

<!-- UTILITY NAV END -->
  
  
</div>
</nav>
<!-- GLOBAL NAV END --></div>
</div>

</header>