<div class="hero-image">
    <div class="hero-text-section">			
      <div class="hero-text">Open An Account</div>
      <div class="hero-text-small">Start enjoying the benefits of a FedEx account today, up to 30% off on our regular rates</div>
    </div>
  </div>
  <div class="bac-wrapper container">
      <div class="account-section">
        <div class="account-box">          
          <h3>Corporate Account</h3>
          <img src="../../assets/images/icon-document.png" alt="Account Icon">
          <h4>Pay Via 30 Days Credit Term</h4>
          <h5>* Require a valid business license</h5>
                    <button class="rounded-button mcform" data-toggle="modal" data-target="#openaccount">OPEN AN ACCOUNT</button>               
                    <a href="#acc-menu1" data-toggle="collapse" class="learn-more" id="acc-menuScroll1">Learn More</a>
        </div>
        <div class="account-box">
           <h3>Corporate Account</h3>
           <img src="../../assets/images/icon-scan-small.png" alt="Account Icon">
          <h4>Alipay/Wechat Pay Upon Pickup</h4>
          <h5>&nbsp;</h5>
          <button class="rounded-button no-cursor">OPEN AN ACCOUNT</button>
          <a href="#acc-menu2" data-toggle="collapse" class="learn-more" id="acc-menuScroll2">Learn More</a>
        </div>
        <div class="account-box">
          <h3>Personal Account</h3>
          <img src="../../assets/images/icon-scan-small.png" alt="Account Icon">
          <h4>Alipay/Wechat Pay Upon Pickup</h4>
          <h5>&nbsp;</h5>
          <button class="rounded-button no-cursor">OPEN AN ACCOUNT</button>
          <a href="#acc-menu3" data-toggle="collapse" class="learn-more" id="acc-menuScroll3">Learn More</a>
        </div>
      </div>
  
  
      <div class="row">
        <div class="col-md-12 accordion-section">
  <a href="#acc-menu1" class="accordion-header collapsed" data-toggle="collapse">
    Corporate Account (Pay Via 30 Days Credit Term)
    <span class="down-arrow">&nbsp;</span>
    <span class="up-arrow">&nbsp;</span>
            </a>
  <div id="acc-menu1" class="collapse accordion-description">
                <h4>What you need to prepare? </h4>
                <ul>
                    <li>Latest Valid Business License with Official Seal.</li>
                    <li>If the business license is one of the following types, please follow the instructions and provide the additional documents: </li>
                    <li><b>Natural Person Sole Corporation: </b>Legal Person ID copy with official seal</li>
        <li><b>Sole proprietorship: </b>Legal Person ID copy with official seal and please contact with FedEx Sales to apply for exceptional approval</li>
        <li><b>Individually-owned business: </b>Legal Person ID copy with official seal and please contact with FedEx Sales to apply for exceptional approval </li>
      </ul>
                <br />
                <h4>Account Opening Steps</h4>                  
                <ol>
                    <li>Fill in and submit the application online</li>
                    <li>Download and Print the required forms, follow the instruction inside to complete the application.</li>
                    <li>Submit the documents to FedEx (by giving to our courier during shipment pickup, or POST that postage is borne by sender) You can pay your monthly bill by wire transfer, bank transfer, WechatPay and AliPay…etc. (Cash payment is not accepted for monthly bill.)</li>
                </ol>
                <p>
                    Upon your application submission, you will receive a FedEx account number by email within 1 business day. <b>Please note that the approval process for monthly credit may take up to 5 business days.</b>  We will inform you the approval status by email.
                </p>
                <h4>Need to Ship urgently and like to put it on credit?</h4>

                <span (click)="readmore=true" class="readmore" *ngIf="!readmore">Read More</span>
                <span *ngIf="readmore">
                  <p>
                      We totally understand your needs and will offer you a temporary credit for your first shipment while we are processing your monthly credit application.  To enjoy this special service, upon your shipment pickup, please submit all the required documents as instructed to FedEx courier. To learn about how to ship with us, please visit <a href="http://fedex.com" target="_blank">here</a>.
                            
                  </p>
                  <p>
                      <b>Note:</b> We only offer monthly credit to local company according to the address on the Business License. (e.g. for a company that registered in Guangzhou, it can only apply FedEx account and pickup shipment in Guangzhou) 
                  </p>
                  <p>
                      You can pay your monthly bill by wire transfer, bank transfer, WeChatPay and AliPay.
                  </p>
                </span>
                <div>
                    <a href="#" data-toggle="modal" data-target="#openaccount">Open a Corporate Account Pay Via 30 Days Credit Term</a>                  
                </div>
  </div>
  <a href="#acc-menu2" class="accordion-header collapsed" data-toggle="collapse">
    Corporate Account (Alipay/Wechat Pay Upon Pickup)
    <span class="down-arrow">&nbsp;</span>
    <span class="up-arrow">&nbsp;</span>
  </a>
  <div id="acc-menu2" class="collapse accordion-description">
                <p>
                    Upon your application submission, you will receive a FedEx account number by email within 1 business day. You can start shipping and pay by Alipay/WeChat pay upon pickup. 
                </p>
                <div><a>Open a Corporate Account Alipay/WeChat Pay Upon Pickup</a></div>
  </div>
  <a href="#acc-menu3" class="accordion-header collapsed" data-toggle="collapse">
    Personal Account (Alipay/Wechat Pay Upon Pickup)
    <span class="down-arrow">&nbsp;</span>
    <span class="up-arrow">&nbsp;</span>
            </a>
            <div id="acc-menu3" class="collapse accordion-description">
                <p>
                    Upon your application submission, you will receive a FedEx account number by email within 1 business day. You can start shipping and pay by Alipay/WeChat pay upon pickup. 
                </p>
                <div><a>Open a Personal Account Alipay/WeChat Pay Upon Pickup</a></div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 easy-steps">
        <h1>3 easy steps to ship</h1>
        <div class="row">
          <div class="col-sm-4 col-xs-12 steps">
            <h3>Step 1</h3>
            <img src="../../assets/images/profile.svg" alt="Open An Account">
            <h4>Open An Account</h4>
          </div>
          <div class="col-sm-4 col-xs-12 steps">
            <h3>Step 2</h3>
            <img src="../../assets/images/laptop.svg" alt="Fedex Login">
            <h4>Create a fedex.com Login</h4>
          </div>
          <div class="col-sm-4 col-xs-12 steps">
            <h3>Step 3</h3>
            <img src="../../assets/images/courier.svg" alt="Ship Online">
            <h4>Ship Online</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 exclusive-benefits">
        <h1>Exclusive benefits of the FedEx account</h1>
        <div class="row">
          <div class="col-sm-3 col-xs-12 benefit">
            <img src="../../assets/images/supplies.svg" alt="Prepare shipment">
            <h4>Prepare shipments online </h4>
          </div>
          <div class="col-sm-3 col-xs-12 benefit">
            <img src="../../assets/images/ground-truck.svg" alt="Schedule Pickups">
            <h4>Schedule and manage pickups</h4>
          </div>
          <div class="col-sm-3 col-xs-12 benefit">
            <img src="../../assets/images/rate-ship.svg" alt="Specific rates">
            <h4>Get your account specific rates</h4>
          </div>
          <div class="col-sm-3 col-xs-12 benefit">
            <img src="../../assets/images/profile-purple.svg" alt="Online bill">
            <h4>View and manage your bills online</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 fedex-scan">
        <img src="../../assets/images/icon-chat.png" alt="Chat" class="chat">
        <img src="../../assets/images/icon-scan.png" alt="Fedex scan" class="scan">					
      </div>
    </div>
      </div>
  
       <!-- Yes No Modal -->
      <div class="modal fade" id="openaccount" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content yes-no-popup">
                      <span class="pull-right" data-dismiss="modal"><img src="../../assets/images/icon_clear-grey.png" class="close-icon" alt="Close"/></span>
                      <h3>Is your company registered in Guangzhou?</h3>
                      <div class="buttons">
                          <button class="fedex-button fedex-button-orange" (click)="gotoAccount()" data-dismiss="modal">Yes</button>
                          <button class="fedex-button fedex-button-orange-border cancel" data-dismiss="modal">No</button>                        
                      </div>
                      <img src="../../assets/images/beak-image-popup.png" class="curve" alt="Curve Image"/>
              </div>            
          </div>
      </div>
      