<footer class="fxg-footer">        
    <div class="fxg-copyright">
      <div class="fxg-wrapper container">
        <div class="column_control section">
        <!-- COLUMN CONTROL START -->
          <div class="row">        
          <!-- 2 Columns -->
            <div class="fxg-col col-sm-4">
              <div class="title section">
                <div class="fxg-title fxg-title--default">© FedEx 1995-2018</div>
              </div>
            </div>
            <div class="fxg-col col-sm-8">
              <div class="column_control section"><!-- COLUMN CONTROL START -->
                <div class="row">
                  <!-- 2 Columns -->
                  <div class="fxg-col">
                    <div class="link section">
                    <div class="link">
                    <a href="http://www.fedex.com/us/customersupport/email/index.html" target="_self" class="fxg-link default fxg-copyright-feedback-link" data-analytics="ftr|Feedback" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Feedback</a>
                    </div>
                    </div>
                  </div>
                  <div class="fxg-col">
                    <div class="link section">
                      <div class="link">
                        <a href="http://www.fedex.com/us/sitemap.html" target="_self" class="fxg-link default        " data-analytics="ftr|Site Map" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Site Map</a>
                         <span class="fxg-link__separator"> | </span>
                      </div>
                    </div>
                    <div class="link section">
                      <div class="link">
                        <a href="http://www.fedex.com/us/legal/" target="_self" class="fxg-link default" data-analytics="ftr|Terms of Use" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Terms of Use</a>
                         <span class="fxg-link__separator"> | </span>
                      </div>
                    </div>
                    <div class="link section">
                      <div class="link">
                        <a href="https://www.fedex.com/en-us/trust-center.html" target="_self" class="fxg-link default" data-analytics="ftr|Privacy &amp; Security" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">Privacy &amp; Security</a>										
                      </div>
                    </div>
                  </div>        
                </div>
                <!-- COLUMN CONTROL END -->
              </div>
            </div>
          </div>
          <!-- COLUMN CONTROL END -->
        </div>					
      </div>
    </div>
      </footer>
     