<div class="bac-account container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="completionaccount">
                <h2>Open a Corporate Account (Pay Via 30 Days Credit Term)</h2>
                <!-- Responsive Arrow Progress Bar -->
                <div class="arrow-steps">
                <div class="step current"></div>
                <div class="step current"></div>
                <div class="step current"></div>
                </div>
                <!-- end Responsive Arrow Progress Bar -->
                <div class="progressbar-labels">
                    <div class="labels disable-mob">
                        1. Fill in the form
                    </div>
                    <div class="labels disable-mob">
                        2. Review and Submit
                    </div>
                    
                    <div class="labels current">
                        3. Complete your application
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3 class="thank-you-title">Thank you for choosing FedEx.</h3>
                <div class="reference-info">
                    Your application reference number is <b>CN1809280001</b>. Please note that this is NOT your FedEx account number.
                </div>
                <div class="completion-section">
                  <div class="completion-box">
                      <img src="../../assets/images/icon-download.svg" alt="Download">
                     <p>Please download and print the required forms and follow the instructions inside to complete your monthly credit application.</p>
                     <div class="review-button download-btn">
                          <button class="fedex-button fedex-button-orange">Download</button>
                      </div>
                      <p>You will receive a Thank You email with a copy of required forms attached if you wish to print it later.</p>
                  </div>
                  <div class="completion-box upload-email">
                      <img src="../../assets/images/icon-email.svg" alt="Email">
                     <p><b>You will receive a FedEx account number by email within one business day.</b>
                      In case you do not receive our email after one business day, please check your spam/junk mail or contact us.
                    </p>
                  </div>
                  <div class="completion-box notification">
                    <img src="../../assets/images/icon-timer.svg" alt="Notification">
                     <p>Please note that your account has yet to be activated for monthly credit. We will review your submitted documents in 5 business days and inform you of the approval status by email.</p>
                  </div>
                </div>
                <div class="note">
                  <p>Do not use recycle paper or fax-thermal paper to print this forms.</p>
                  <p>Return the completed documents to our FedEx courier upon your shipment pickup or mail it to the corresponding <a href="fedex.com" target="_blank">FedEx location</a>.</p>
                </div>
                
                <div class="feedback">
                  <div class="feedback-entry">
                    <div id="feedback-form">
                        <p>How would you rate your experience?</p>
                        <div class="star-rating">
                          <span class="starrating" id="star1" onclick="add(this,1)"></span>
                          <span class="starrating" id="star2" onclick="add(this,2)"></span>
                          <span class="starrating" id="star3" onclick="add(this,3)"></span>
                          <span class="starrating" id="star4" onclick="add(this,4)"></span>
                          <span class="starrating" id="star5" onclick="add(this,5)"></span>
                        </div>
                        <div id="hide-box">
                          <div class="about-your-exp">
                            <textarea cols="30" rows="5" placeholder="Tell us about your experience..."></textarea>
                          </div>
                          <div class="review-button" id="feedback-submit">
                              <button class="fedex-button fedex-button-orange" type="submit">SEND</button>
                          </div>
                        </div>
                      </div>
                      <div id="thankyou-msg">
                        <h3>Thank You</h3>
                        <span>for your feedback!</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>